 
 @media screen and (min-width: 1441px) {
    
  .nav1{
   margin-left: 500px;
 }
.view1{
 top: 1750px;
 margin-left: 150px;
}
 }
 @media (min-width: 900px) and (max-width:1100px) {
  .nav1{
    margin-left: 100px;
  }
 }

 @media (min-width: 700px) and (max-width:850px) {
  .nav1{
        margin-left: 300px !important;
}
 }
 @media (min-width: 350px) and (max-width:850px) {
    .nav1{
        margin-left: 30px;
}
.img1{
  margin-left: 50px;
}
.nav2{
 display: none;
}
.navdrop .nav-link{
  color: black;
  font-size: 30px;
  
}
.navdrop .dropdown-menu{
  
  background-color: white;
}
.navdrop .dropdown-item{
  color: black;
}
.blog{
  font-family: serif;
 font-size: 35px !important;
 font-weight: 900;
 margin-top: 50px;
 margin-left: 30px !important;
 }
 .blog1{
  font-size: 50px !important;
 position: relative;
 right: 175px !important;
  font-weight: 900;
  color: red;
  
 }
.card0{
  gap: 30px;
  display: grid;
  justify-content: center;
  align-items: center;
 }
   .view1{
  position: absolute;
  top: 1830px;
  left: 220px !important;}

 .view2{
  font-size: 20px !important;
  
 }
.view5{
  display: none;
}
.carousel2{
 
  font-size: 40px !important;
  font-weight: 900;
}
.carousel3{
  
  font-size: 40px !important;
  font-weight: 900;
}
.contact3{
   
  width: 340px !important;
   
}
.contact4{
  width: 200px !important;
}

 }

 @media (min-width: 1005px) and (max-width: 1440px) {

  .nav1{
       margin-left: 300px;
    }
     .carousel1{
    
    padding: 35% 5% 25% 5% ;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
 }
 .blog{
  font-family: serif;
 font-size: 60px;
 font-weight: 900;
 margin-top: 50px;
 
 }
 .blog1{
  font-size: 80px;
 position: relative;
right: 40px;
 
  font-weight: 900;
  color: red;
 }
 .card0{
  gap: 30px
 }
 .card1{
  background-color: #002C3E;
  color: white
 }
  .view{
    
    padding: 25% 20% 20% 20%;
   }
 .view1{
  top: 1500px !important;
 }
 .view2{
  font-size: 50px;
  color: #002C3E;
 }
 }
 @media screen and (min-width: 800px) {
  .navdrop{
    display: none;
  }
  .blog0{
    margin-left: 150px;
  }
.carousel0{
  position: absolute;
  top: 250px;
}
.tes{
  font-family: serif;
  font-size: 50px;
  font-weight: 700;
  padding-top: 50px;
}
}

         /* Desktop */
 .navhead{
  margin-bottom: 15px;
  margin-top: 15px;
 }
 .nav1{
    font-size: 22px;
    gap: 100px;

    
 }
 .nav2{
   color: black;
   font-weight: 700;
 }

 
 .img1{
   height: 30px;
 }
 .carousel1{
   background-image: url(./assets/imgi_2_slider-bg.jpg);
   padding: 40% 5% 10% 5%;
     background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
    }
    body{
      overflow-x: hidden;
    }

    .carousel0{
      animation: slideRight 2s  ease   ;
      
    }
 @keyframes slideRight  {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to{transform: translateX(0);
  opacity: 1;
  }
  
 }
 .blog{
  font-family: serif;
 font-size: 60px;
 font-weight: 900;
 margin-top: 50px;
 
 }
 .blog1{
  font-size: 80px;
 position: relative;
 right: 300px;
 top: 10px;
  font-weight: 900;
  color: red;
 }
 .card0{
  gap: 50px
 }
 .card1{
  background-color: #002C3E;
  color: white;
 width: 50%;
 }
 .icon{
  font-size: 50px;
 }
   .view{
    background-image: url(./assets/arrival-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 30% 20% 20% 20%;
   }
 .view1{
  position: absolute;
  
  left: 600px;
 }
 .view2{
  font-size: 50px;
  color: #002C3E;
 }
.view4{
  background-color:#F7444E;
}
.view4:hover{
  background-color: #F7444E;
}
.btn1{
  border-radius: 100%;
background-color: #fff;
}
.btn1:hover{
  background-color: #F7444E;
}
.btn1:active{
background-color: #F7444E;
}
.carousel2{
  color: #F7444E;
  font-family: serif;
  font-size: 60px;
  font-weight: 900;
}
.carousel3{
  color: #002C3E;
  font-family: serif;
  font-size: 60px;
  font-weight: 900;
}
.contact{
  background-color: #D4CED0;
  margin-top: 20px;
 padding: 9%;
}
.contact1{
  color: #002C3E;
  font-size: 50px;
  font-weight: 800;
  font-family: serif;
}

.contact3{
  height: 60px;
  width: 740px;
  border: none;
  border-radius: 40px;
  font-size: 20px;
}
.contact4{
  height: 50px;
  width: 300px;
  background-color: #F7444E;
  border: none;
  border-radius: 40px;
}
.tes{
  padding-top: 30px;
}
.tes5{
margin-top: 50px;
}
.tes{
  font-family: serif;
  font-size: 50px;
  font-weight: 700;
  padding-top: 100px;
}
.tes3{
 color: rgb(148, 142, 142);
}
.tes0{ 
  animation: slideRight 2s  ease   ;
      
}